<h1>Edit A Car</h1>

<%# form_tag("/cars/#{@car.id}", {method: :patch}) do %>
  <%# label_tag :name, "Cool Car" %>
  <%# text_field_tag :name, @car.name %>
  <%# label_tag :make %>
  <%# text_field_tag :make, @car.make %>
  <%# label_tag :color %>
  <%# text_field_tag :color, @car.color %>
  <%# submit_tag "Edit this Car" %>
<%# end %>

<%= form_for @car do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :make %>
  <%= f.text_field :make %>
  <%= f.label :color %>
  <%= f.text_field :color %>
  <%= f.submit %>
<% end %>
